<main>
    <div class="mat-elevation-z2 form-container">
        <form [formGroup]="formEmpleado">
            <div class="flex">
                <mat-form-field>
                    <mat-label>Nombre Completo</mat-label>
                    <input matInput formControlName="nombreCompleto">
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field>
                    <mat-label>Correo</mat-label>
                    <input matInput formControlName="correo">
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field>
                    <mat-label>Sueldo</mat-label>
                    <input matInput type="number" formControlName="sueldo">
                </mat-form-field>
            </div>
            <div class="flex">
                <mat-form-field>
                    <mat-label>Fecha Contrato</mat-label>
                    <input matInput formControlName="fechaContrato">
                </mat-form-field>
            </div>
            <div class="flex buttons">
                <button mat-flat-button color="primary" (click)="guardar()">Guardar</button>
                <button mat-flat-button color="warn" (click)="volver()">Volver</button>
            </div>
        </form>
    </div>
</main>